footer{
	padding: 70px 0 85px;
	background: #0343AE;

	.footerCont{
		.cont-title{
			display: flex;
			align-items: center;
			padding-bottom: 30px;
			padding-top: 30px;

			span{
				padding-right: 25px;
			}

		}
		h6{
			color: #D1D1D1;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.4;
		}
		p{
			color: #B3CCF5;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.8;
		}
	}
}

@media (max-width:767px){
	footer {
		padding-top: 40px;
	}
}